<form method="post" action="{{ path('running_type_delete', {'id': running_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ running_type.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
